.dwm{
    height: 400px;
    width: auto;
}

img{
    width: 400px;
}

.main{
    width: 40%;
}

.photos{
    position: absolute;
    right: 0%;
    top: 100px;
    width: 55%;
}

.shani{
    height: 300px;
    width: 300px;
    display: inline;
}