/* For Desktop View */
@media screen
  and (min-width: 1024px){
    
    .details{
        height: 300px;
        position: fixed;
        right: 0%;
        bottom: 2%;
    }

    .contacts{
        right: 20px;
        bottom: 1px;
        color: #FFF8E5;
    }
    
}
 
/* For Tablet View */
/* @media screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px){
    
    .details{
        height: 150px;
    }

}
  */
/* For Mobile Portrait View */
@media screen
  and (max-device-width: 480px)
  and (orientation: portrait){
    
    .details{
        height: 150px;
        position: absolute;
        right: 10px;
        top: auto;
        bottom: auto;
    }

    .bsclogo{
        width: 100%;
    }

    .contacts{
        font-weight: bold;
        color: #E05D5D;
        width: 40%;
        right: 1px;
        bottom: 1px;
    }

}


body{
    background-color: #FFF8E5;
    font-family: 'Merriweather', serif;
}

.contacts{
    position: fixed;
    text-align: right;
}

/* .bsclogo{
    height: 20%;
    width: 20%;
} */

h1{
    color: #00A19D;
    font-family: 'Gemunu Libre', sans-serif;
}

h3{
    color: #00A19D;
    font-family: 'Montserrat', sans-serif;
}

h4{
    color: #E05D5D;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
}

hr{
    border-color: #FFB344;
}

.logo{
    width: 50px;
    height: 50px;
    background: 0%;
    display: inline;
}

.logo1{
    text-align: center;
}
